ruby:
  edit_url = current_page.data["edit_url"] || "https://github.com/danger/swift/edit/master/Documentation/#{current_resource.path.gsub("swift/", "")}.md"

= wrap_layout :layout_sw do
  .clearfix
  section.guide
    article  
      h1.vibrant == current_page.data["subtitle"]
      
      .article_body
        == yield

      hr
      p == "Got improvements? Help improve this document via <a href= '#{edit_url}'>sending PRs</a>."
